.form-contact{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: flex-start;
    align-items: center;
    
}

.form-contact > *{
    margin: 3px;
}

.posalji-dugme{
    margin:0;
    margin-bottom: 10px;
}

.contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    width: 350px;
    margin: 10px;
    border-radius: 5px;
    padding-top: 10px;
}

.footer{
    
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 5px solid white;
    color: black
}

.contact-span{
    color: aliceblue;
}

.contact-input{
    border-radius: 5px;
}