*{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-image: url("images/avion.jpg");
    background-size: cover;

}



.content{
    display: flex;
    flex-wrap: wrap;
    /* background-image: url("images/airplane_background.jpg"); */
    background-size: cover;
}
.dolasci{
    height: 400px;
    flex-grow: 1;
    flex-basis: 400px;
    /* background-color: rgba(255,255,255,0.6); */
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.odlasci{
    height: 400px;
    flex-grow: 1;
    flex-basis: 400px;
    /* background-color: rgba(255,255,255,0.6); */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dolasci-list{
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    margin: 0;
    align-items: center;
    padding-left: 0;
    background-color: rgba(255,255,255,0.6);
    margin: 20px;
    border-radius: 40px;

}

.odlasci-list{
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    margin: 0;
    align-items: center;
    padding-left: 0;
    background-color: rgba(255,255,255,0.6);
    margin: 20px;
    border-radius: 40px;
}







.flight-list-item
{
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.arrow {
	cursor: pointer;
}



li{
    width: 90%;
}