*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.body{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-image: url("images/avion.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    flex:1;
    color:aliceblue;
    margin-bottom: 5px;
    
    
}

.form-label{
    font-size: 20px;
}

.form-div{
    width: 400px;
    display: flex;
    justify-content: center;
}


.form-div-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}