*{
    margin: 0;
}
.body{
    display: flex;
    flex-direction: column;
    height: 100vh;

}


.content{
    flex-grow: 1;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.let-div:hover{
    background-color: violet;
    cursor: pointer;
}

.let-div{
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 400px;
    padding: 3px;
    flex-direction: column;
    

}
.let-div >* {
    margin-left:28%;
}


.let-filter{
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.let-filter > *{
    margin: 4px;
}

.input{
    margin-top: 6px;
    margin-bottom: 6px;
}

.form-class{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}



