.rezervacija-container{
    margin: 10px;
    
}

.accept-button{
    width: 80px;
    height: 40px;
    background-color: #69f0ae;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 450;
    border-radius: 5px;
    cursor: pointer;
}

.decline-button{
    width: 80px;
    height: 40px;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 450;
    border-radius: 5px;
    cursor: pointer;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.card >*{
    margin: 10px!important;
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expansion-panel{
    width: 500px;
}

.expansion-header{
    padding: 0;
}

.expansion-content{
    width: 100%;
    display: flex;
    align-items: center;
}

.expansion-content>*
{
    margin: 5px;
}