<div class="rezervacije-div">
    <h3 style="color: aliceblue; font-weight: 450; margin-top: 10px;">Teretne rezervacije</h3>
    <mat-form-field color="accent" class="select-item">
        <mat-label>Tip rezervacije</mat-label>
        <mat-select [(value)]="selected" (valueChange)="updateRezervacije($event)">
            <mat-option value="Nova">Nove</mat-option>
            <mat-option value="Ponistena">Ponistene</mat-option>
            <mat-option value="Prihvacena">Prihvacene</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="rezervacije-container" *ngFor="let r of rezervacije; let i=index;">
        <app-teretna-rezervacija [rez]="r" (odobravanje)="odobriLet(i)" (ponistavanje)="ponistiLet(i)"></app-teretna-rezervacija>
    </div>
</div>
