.rezervacije-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-item{
    width: 200px;
    margin: 10px;
}

.rezervacije-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}