<div class="card-container">
    <mat-card class="card">
        <mat-icon>airplanemode_active</mat-icon>
        <div class="city-time-wrapper">
            <div>{{putnickiLet.vrijemePolaska}}</div>
            <div style="font-size: smaller;">{{putnickiLet.gradByPolazniGrad.nazivGrada}}</div>
            <div style="font-size: smaller;">{{putnickiLet.drzavaByPolaznaDrzava.nazivDrzave}}</div>
        </div>
        <mat-icon>east</mat-icon>
        <div class="city-time-wrapper">
            <div>{{putnickiLet.vrijemeDolaska}}</div>
            <div style="font-size: smaller;">{{putnickiLet.gradByOdredisniGrad.nazivGrada}}</div>
            <div style="font-size: smaller;">{{putnickiLet.drzavaByOdredisnaDrzava.nazivDrzave}}</div>
        </div>
        <div class="city-time-wrapper">
            <div>Broj leta</div>
            <div style="font-size: smaller;">{{putnickiLet.id}}</div>
        </div>
        <div class="city-time-wrapper">
            <div>Datum leta</div>
            <div style="font-size: smaller;">{{putnickiLet.datumLeta}}</div>
        </div>
        <div>
            <button mat-raised-button color="warn" style="width: 10px;" (click)="deleteFlight()">X</button>
        </div>
    </mat-card>
</div>