
<form class="novi-let-form" [formGroup]="noviPutnickiLetForm" (ngSubmit)="onSubmit()">
    <div class="novi-let">Novi let</div>
    <div class="date-selection" formArrayName="datumiLeta" *ngFor="let datum of datumiLeta.controls; let i=index">
        <mat-form-field color="accent">
            <mat-label>Datum leta</mat-label>
            <input matInput [matDatepicker]="picker" style="color: aliceblue;" [formControlName]="i" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="minus-button" (click)="ukloniDatum(i)">-</div>
    </div>
    <div class="plus-button" (click)="dodajDatum()">+</div>
    <mat-form-field color="accent">
        <mat-label>Vrijeme polaska</mat-label>
        <input matInput type="time" formControlName="vrijemePolaska" style="color: aliceblue;" required>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Vrijeme dolaska</mat-label>
        <input matInput type="time" formControlName="vrijemeDolaska" style="color: aliceblue;" required>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option value="Ceka">Ceka</mat-option>
            <mat-option value="Poletio">Poletio</mat-option>
            <mat-option value="Sletio">Sletio</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="state-selection">
        <mat-form-field color="accent">
            <mat-label>Polazna drzava</mat-label>
            <mat-select formControlName="polaznaDrzava" (valueChange)="getPolazniGradovi($event)">
                <mat-option *ngFor="let d of drzave|async" [value]="d.id">{{d.nazivDrzave}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Polazni grad</mat-label>
            <mat-select formControlName="polazniGrad">
                <mat-option *ngFor="let g of polazniGradovi|async" [value]="g.id">{{g.nazivGrada}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="state-selection">
        <mat-form-field color="accent">
            <mat-label>Odredisna drzava</mat-label>
            <mat-select formControlName="odredisnaDrzava" (valueChange)="getOdredisniGradovi($event)">
                <mat-option *ngFor="let d of drzave|async" [value]="d.id">{{d.nazivDrzave}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Odredisni grad</mat-label>
            <mat-select formControlName="odredisniGrad">
                <mat-option *ngFor="let g of odredisniGradovi|async" [value]="g.id">{{g.nazivGrada}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="formValid" style="color: red; width: 330px!important; margin-bottom: 5px;">
        Polazni ili odredisni grad moraju biti Banjaluka.
        Polazni i odredisni grad ne smiju biti Banjaluka.
    </div>
    <button mat-raised-button color="accent" type="submit">Dodaj</button>
</form>